.group-id{
    font: Arial;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 0px;
    bottom: 10em;
    background: '#121212';
    margin-bottom: 0;
}


.title{
    background-color: transparent;
    text-align: center;
    border-width:0px;
    border:none;
    outline-width: 0;
}

.title:link, .title:visited, .title:hover, .title:active {
    color: white;
    text-decoration: none;
}

#edit-group {
    height: 50px;
    width: 50px;
    margin-bottom: 40px;
    display: inline-flex;
}

h3 {
    font-size: 30px;
    color: white;
    margin: 10px 0px 0px 0px;
}
