/* Gets rid of default navbar arrow. */
.dropdown-toggle::after {
  display: none !important; 
}

/* Adjusts padding of navbar. */
.navbar > .container {
  max-width: 100%;
}
.navbar {
  padding: 0;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 28px;
  background-color: #121212;
}

/* For text beside profile dropdown. */
.nav-userinfo {
  font-family: sans-serif;
}

#nav-name {
  font-size: 15px;
  color: white;
  float: left;
  margin-bottom: -5px;
}

#nav-username {
  font-size: 14px;
  color: gray;
}

/* Ensures profile dropdown menu expands below collapsed 
navbar. */
.navbar-nav .dropdown-menu {
  position: absolute;
}