/* Gets rid of default navbar arrow. */
.dropdown-toggle::after {
  display: none !important; 
}

/* Adjusts padding of navbar. */
.navbar > .container {
  max-width: 100%;
}
.navbar {
  padding: 0;
  padding-left: 10px;
}

/* For text beside profile dropdown. */
#user_names {
  font-family: sans-serif;
}

#name {
  font-size: 15px;
  color: white;
  float: left;
  margin-bottom: -5px;
}

#username {
  font-size: 14px;
  color: gray;
}

/* Ensures profile dropdown menu expands below collapsed 
navbar. */
.navbar-nav .dropdown-menu {
  position: absolute;
}