.to-join:hover {
    opacity: 0.6;
}

.to-join:active {
    opacity: 0.4;
}

#join-button {
    width: auto;
    text-align: center;
    background-color: #212529;
    font-size: 15px;
    height: 43px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#ffffff !important;
    border-color: #212529;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
}

#joined-button {
    width: auto;
    text-align: center;
    background-color: #212529;
    font-size: 15px;
    height: 43px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#00ff04 !important;
    border-color: #212529;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
    
}

#pending-button {
    width: auto;
    text-align: center;
    background-color: #212529;
    font-size: 15px;
    height: 43px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#ff9900 !important;
    border-color: #212529;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
}